

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color-login: linear-gradient(28deg, rgba(2,29,27,1) 36%, rgba(9,102,81,1) 79%, rgba(12,195,169,1) 100%);
}


.container_login{
  background: var(--background-color-login);
  width: 100%;
}